/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


@media screen and (max-width: 992px) {
	.ast-custom-header > div > div > div:nth-child(1){
		display: none!important;
	}

	.uabb-creative-menu-mobile-toggle-container {
		display: none!important;
	}

	.ast-custom-header #menu-main-menu {
		display: none!important;
	}
}